<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="serilog:minimum-level" value="Debug"/>
        <add key="Port" value="25000"/>
        <add key="GameServerId" value="1"/>
        <add key="GameServerPort" value="25001"/>
    </appSettings>
</configuration>
